.muestra {
    width: 1000px;
    justify-content: center;
    align-items: center;
    background-size: 100% 400%;
    margin: auto;
}

.muestra h1 {
    color: white;
    text-align: center;
    padding: 30px;
    margin: auto;
}

.tituloPresupuesto {
    width: 65%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: green;
    margin-left: 14%;
    border-radius: 20px;
    background: #F9F2EC;
    margin: auto;
}



.planificador {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 15px;
    font-size: 30px;
    gap: 8px;
    
}

h5{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

p{
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.torta img {
    width: 300px;
    height: 300px;
    padding: 20px;
}

.botones {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;

}

.buttonAgregar button {
    justify-content: center;
    width: 415px;
    height: 45px;
    margin: 20px;
    border: none;
    background: #00966B;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;

}

.buttonAgregar :hover{
    background: #76f5d1;
    color: rgb(32, 31, 31);
}

.resetApp button {
    justify-content: center;
    width: 200px;
    height: 45px;
    margin: 20px ;
    border: none;
    background: red;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}

.resetApp :hover{
    background: #e8ed5d;
    color: rgb(32, 31, 31);
}